CONNECTION_NAME=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=


TRELLO_API_KEY =
TRELLO_TOKEN = 
TRELLO_LIST_ID = 
TRELLO_LABEL_VERIFICADA=
TRELLO_LABEL_CAVALI=
TRELLO_LABEL_HR=

CAVALI_TOKEN_URL=
CAVALI_BLOCK_URL =
CAVALI_STATUS_URL =
CAVALI_CLIENT_ID=
CAVALI_CLIENT_SECRET=
CAVALI_API_KEY=
CAVALI_SCOPE=
CAVALI_BATCH_SIZE=

CAVALI_ENABLED=
CAVALI_BATCH_SIZE=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_REGION=
